<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="chat-box">
        <div id="data-log"></div>
        <span class="divider"></span>
        <form id="send-chat" class="send-chat">
            <input class="user-input" name="user-input" type="text" placeholder="Type a message" >
            <button class="send-btn" onclick="sendMessage()">Send</button>
        </form>
    </div>
    <!-- Uses ajax to send requests -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        // this is what we see as the dialog
        const dataLogDisplay = document.getElementById('data-log');

        // this function is used to send the message to the server
        const sendMessage = () => {
            const userInputElement = document.querySelector('input[name="user-input"]');
            const userInput = userInputElement.value;
            // prevent the blank case
            if (userInput === '') {
                alert('Cannot be blank');
                return;
            };
            addData(userInput, true);
            userInputElement.value = '';

            setTimeout(() => {
                $.ajax({
                url: '/api/chat',
                type: 'POST',
                data: {
                    user_input: userInput
                },
                success: (res) => {
                    addData(res.chatbot_response, false);
                },
                error: (err) => {
                    alert(err);
                }
            })
            }, 500);
        }
        
        // this is the function for adding new bubbles into the dialog
        // the bubbles will have different positions and color, depending on the sender
        // then the conversation will scroll to the last message
        const addData = (input, isYou) => {
            const msgContainer = document.createElement('div');
            const newMsg = document.createElement('span');
            newMsg.innerHTML = input;
            newMsg.className = 'bubble';
            if (isYou) msgContainer.className = 'your-msg';
            else msgContainer.className = 'elon-musk-msg';
            msgContainer.append(newMsg);
            dataLogDisplay.appendChild(msgContainer);
            dataLogDisplay.scrollTop = dataLogDisplay.scrollHeight - dataLogDisplay.clientHeight;
        }

    document.getElementById('send-chat').addEventListener('submit', (e) => {
        e.preventDefault();
    });
    </script>
</body>
</html>
