* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
}

.chat-box {
    height: 40rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    background-color: beige;
    padding: .5rem;
    margin-top: 5vh;
    border-radius: 0.5rem;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: black;
}

.send-chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
    margin-top: .5rem;
    margin-bottom: .2rem;
}

.send-btn {
    background-color: white;
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
}

.user-input {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    padding: 0 .5rem;
}

#data-log {
    overflow-y: auto;
    margin-bottom: .5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#data-log > div {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.your-msg {
    justify-content: flex-end;
}

.elon-musk-msg {
    justify-content: flex-start;
}

.bubble {
    border-radius: .4rem;
    padding: .6rem 1rem;
    max-width: 20rem;
    overflow-wrap: break-word;
}

#data-log > .your-msg > .bubble {
    background-color: white;
}

#data-log > .elon-musk-msg > .bubble {
    background-color: black;
    color: white;
}